*{
	padding: 0;
	margin: 0;
}
.khung{
	margin: 0 auto;
	width: 100%;
	height: auto;
	background: green;
}
/*header*/
.khung .header{
	margin: 0 auto;
	width: 100%;
	height: 100px;
	background: black;
}
/*content*/
.khung .content{
	width: 100%;
	height: 800px;
}
/*footer*/
.khung .foter{
	width: 100%;
	height: 50px;
	background: yellow;
	margin-top: 10px;
}